main section {
  width: 300px;
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
}

main section img {
  width: 100%;
}

main section h2 {
  text-align: center;
  margin: 10px;
}

main section p {
  margin: 10px;
}